<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <listeners>
        <listener class-name="Utilities.Reporting"></listener>

    </listeners>

    <test verbose="2"
          preserve-order="true"
          name="C:/Users/Abeer.tarek/IdeaProjects/Automation_Exercise">
        <classes>
            <class name="Tests.Login_Test">
                <methods>
                    <include name="SignUp_LoginProcess"/>
                </methods>
            </class>
            <class name="Tests.AddToCart_Test">
                <methods>
                    <include name="AddToCart"/>
                </methods>
            </class>
            <class name="Tests.Checkout_Test">
                <methods>
                    <include name="Checkout"/>
                </methods>
            </class>
        </classes>
    </test></suite>